<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilted Towers</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <!--<script src="./Js/Nav.js"></script>-->
    <script src="/public/Js/characters.js"></script>
    <script src="/public/Js/items.js"></script>
    <script src="/public/Js/LP-.js"></script>


    <!--Audiowide Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

</head>

<body>
    <section class="video-background">
        <img src="./assets/Images/bg2.png" alt="background">
    </section>
    <header>
        <nav>
            <article class="nav-left">

            <a href="homepage_fortnite" class="nav-link">
                <span>Home</span>
                <img src='./assets/Images/HomeIcon-Nav.png' style='display: none;'/>
            </a>
            <a href="characters" class="nav-link">
                <span>Personages</span>
                <img src='./assets/Images/CharacterIcon-Nav.png' style='display: none;'/>
            </a>
            <a href="favorite_characters" class="nav-link">
                <span>Favorieten</span>
                <img src='./assets/Images/FavoriteIcon-Nav.png' style='display: none;'/>
            </a>
            <a href="blacklisted_characters" class="nav-link">
                <span>Blacklisted</span>
                <img src='./assets/Images/BlackListIcon-Nav.png' style='display: none;'/>
            </a>
        </article>
        <article class="nav-right">
            <a href="user-profile" class="nav-link">
                <span>Mijn Profiel</span>
                <img src='./assets/Images/UserProfileLogo-Nav.jpg' style='display: none;'/>
            </a>
            <a href="/" class="nav-link">
                <span>Uitloggen</span>
                <img src='./assets/Images/LockIcon-Nav.png' style='display: none;'/>
            </a>
        </article>
        </nav>
    </header>