<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <script src="/public/Js/LP-.js"></script>
    <script src="/public/Js/alerts.js"></script>

  </head>

<body>
  <section class="video-background">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="./assets/videos/4k-blue-red-particles-background.mp4" type="video/mp4">
        Jouw browser ondersteunt geen video tag.
    </video>
</section>