<%- include('partials/header_fortnite')  %>

<main>
    <section>
<article class="container">
    <article class="product">
        <article class="product-info-blacklist">
            <article class="product-title-blacklist">Chun-Li</article>
            <article class="product-description-blacklist">
                <p>Chun-Li is een bekend personage uit het Street Fighter-universum en is als gastpersonage toegevoegd aan Fortnite.</p>
                <p class="blacklistreason">Reden: Personage trekt op niks!</p>
            </article>
        </article>
        <figure class="Blacklist-img">
            <img src="./assets/Images/fortnite-outfit-Chun-Li-2.webp" alt="Chun-Li">
            <figcaption><p>&copy;Epic Games</p></figcaption>
        </figure>
        
    </article>

    <article class="action-buttons">
        <button class="action-button"><i class="fa fa-edit"></i> Aanpassen</button>
        <button class="action-button-delete"><i class="fa fa-trash"></i> Verwijderen</button>

    </article>
</article>
</section>
</main>

<%- include('partials/footer')  %>