<%- include('partials/header_fortnite') %>

<main>
    <h1>Geblackliste personages</h1>
    <section class="favorite_characters">
        <article class="item">
            <a href="blacklist_detail">
                <img src="./assets/Images/fortnite-outfit-Chun-Li-2.webp" alt="Blacklisted 1">
                <h3><a href="blacklist_detail">Chun-Li</a></h3>
              </a>
        </article>
        <article class="item">
            <a href="blacklist_detail">
            <img src="./assets/Images/fortnite-outfit-Thanos.webp" alt="Blacklisted 2">
            <h3><a href="blacklist_detail">Thanos</a></h3>
            </a>
        </article>
    </section>
</main>

<%- include('partials/footer') %>