<%- include('partials/header_fortnite')  %>

<main>
    <section>
<article class="container">
    <article class="product">
        <article class="product-info">
            <article class="product-title">Agent Peely</article>
            <article class="product-description">
                <p>Peely is een geliefd personage in de Fortnite-lore, bekend om zijn vrolijke humeur en kenmerkende verschijning als een menselijke banaan. Hoewel Peely zelf geen uitgebreide achtergrond heeft, is hij te zien geweest in verschillende avonturen en gebeurtenissen binnen het Fortnite-universum.</p>
            </article>
            <h2>Items:</h2>
            <article class="Items">
                <img src="./assets/Images/Questionmark.png" alt="Item1">
                <img src="./assets/Images/Rage.webp" alt="Item2">
                <button class="action-button"><i class="fa fa-edit"></i> Edit</button>
            </article>
        </article>
        <figure>
        <img src="./assets/Images/fortnite-outfit-agent-peely.webp" alt="Agent Peely">
        <figcaption><p>&copy;Epic Games</p></figcaption>
        </figure>
    </article>

    <article class="action-buttons">
        <button class="action-button"><i class="fa fa-trophy"></i> Gewonnen: 3</button>
        <button class="action-button"><i class="fa fa-thumbs-o-down"></i> Verloren: 1</button>
    </article>
</article>
</section>
</main>

<%- include('partials/footer')  %>