<%- include('partials/header_fortnite')  %>

<main>
    <h1>Favoriete personages</h1>
    <section class="favorite_characters">
        <article class="item">
            <a href="favorite_detail">
                <img src="./assets/Images/fortnite-outfit-Adventure-Peely.jpg" alt="Item 1">
                <h3><a href="favorite_detail">Adventure Peely</a></h3>
              </a>
        </article>
        <article class="item">
            <a href="favorite_detail">
            <img src="./assets/Images/fortnite-outfit-agent-peely.webp" alt="Item 2">
            <h3><a href="favorite_detail">Agent Peely</a></h3>
        </a>
        </article>
        <article class="item">
            <a href="favorite_detail">
            <img src="./assets/Images/fortnite-outfit-travis-scott.webp" alt="Item 3">
            <h3><a href="favorite_detail">Travis Scott</a></h3>
        </a>
        </article>
       <article class="item">
            <a href="favorite_detail">
            <img src="./assets/Images/fortnite-outfit-black-knight.webp" alt="Item 4">
            <h3><a href="favorite_detail">Black Knight</a></h3>
        </a>
        </article>
    </section>
</article>
</main>

<%- include('partials/footer')  %>
