<%- include('partials/no_header') %>

<main>
    <section id="index-container">
      <h1 id="index-header">Welkom bij The GameRoom!</h1>
      <section id="login-register-container">
        <article id="buttons-container">
          <a href="login" id="login-btn">Inloggen</a>
          <p>Log in om jouw game te spelen!</p>
        </article>
        <article id="buttons-container">
          <a href="registration" id="register-btn" class="registration-link">Registreren</a>
          <p>Nog geen account? Registreer je nu!</p>
        </article>
      </section>
    </section>
  </main>

<%- include('partials/footer') %>
