<%- include('partials/no_header') %>

<main>
<section id="login-register-container">
    <article id="buttons-container">
        <a href="login" id="login-btn">Login</a>
        <a href="registration" id="register-btn" class="registration-link">Register</a>
    </article>
</section>
</main>

<%- include('partials/footer') %>
