<%- include('partials/header_landing-page')%>

<main>
    <section class="video-background">
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="./assets/videos/4k-blue-red-particles-background.mp4" type="video/mp4">
            Jouw browser ondersteunt geen video tag.
        </video>
    </section>
    <article class="game-container">
        <article class="game">
            <article class="game ErrorMessage">
            <img src="./assets/Images/fifa_logo_correct.jpg" alt="Game 1" class="roundpicturegame">
            <p>FIFA</p>
            </article>
        </article>
        <article class="game">
            
            <a href="homepage_fortnite">
                <img src="./assets/Images/fortnite_logo.png" alt="Game 2" class="roundpicturegame" id="FortniteLandingLogo">
            </a>
            <p id="FortniteLandingTitle">Fortnite</p>
            
        </article>
        <article class="game">
            <article class="game ErrorMessage">
            <img src="./assets/Images/mtg_logo.webp" alt="Game 3">
            <p>Magic The Gathering</p>
            </article>
        </article>
        <article class="game">
            <article class="game ErrorMessage">
            <img src="./assets/Images/pokemon_logo.jpg" alt="Game 4" class="roundpicturegame">
            <p>Pokémon</p>
            </article>
        </article>  
        <article class="game">
            <article class="game ErrorMessage">
            <img src="./assets/Images/lotr_logo.jpg" alt="Game 5" class="roundpicturegame">
            <p>Lord Of The Rings</p>
            </article>
        </article>
        <article class="game">
            <article class="game ErrorMessage">
            <img src="./assets/Images/lego-masters-new-style.webp" alt="Game 6" class="roundpicturegame">
            <p>Lego Masters</p>
            </article>
        </article>
    </article>
</main>

<%- include('partials/footer')%>