<%- include('partials/header_fortnite')  %>

<main>
    <section>
<article class="container">
    <article class="product">
        <article class="product-info">
            <article class="product-title">Personage 1</article>
            <article class="product-description">  
                <p>In Fortnite verwijst de term "skin" naar de cosmetische uiterlijke aanpassingen die spelers kunnen toepassen op hun personage. Een skin verandert simpelweg het uiterlijk van het personage, maar heeft geen invloed op de gameplay of prestaties. Skins variëren van eenvoudige kleurveranderingen tot meer complexe en thematische ontwerpen.</p>
            </article>
        </article>
        <figure>
            <img src="./assets/Images/fortnite-outfit-Adventure-Peely.jpg" alt="Personage 1">
            <figcaption><p>&copy;Epic Games</p></figcaption>
        </figure>
        
    </article>

    <article class="action-buttons">
        <button class="action-button-star"><i class="fa fa-star"></i></button>
        <button class="action-button"><i class="fa fa-user"></i></button>
        <button class="action-button-delete"><i class="fa fa-thumbs-down"></i></button>


    </article>
</article>
</section>
</main>

<%- include('partials/footer')  %>