<%- include('partials/header_fortnite')  %>

<main class="characters-main-section">
    <h1 id="characters-title">Personages</h1>
    <article class="search-container">
        <input type="text" placeholder="Zoeken..." name="search">
        <button type="submit">
        <img src="./assets/Images/SearchIcon-SB.png" alt="Search Icon">
        </button>
    </article>
    <article class="character-container">
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin1.jpg" alt="Character 1">
            <p><a href="character_detail">Character 1</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin2.jpg" alt="Character 2">
            <p><a href="character_detail">Character 2</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin3.jpg" alt="Character 3">
            <p><a href="character_detail">Character 3</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin4.jpg" alt="Character 4">
            <p><a href="character_detail">Character 4</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin5.jpg" alt="Character 5">
            <p><a href="character_detail">Character 5</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character6.html">
            <img src="./assets/Images/Skin6.jpg" alt="Character 6">
            <p><a href="character6.html">Character 6</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin7.jpg" alt="Character 7">
            <p><a href="character_detail">Character 7</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin8.jpg" alt="Character 8">
            <p><a href="character_detail">Character 8</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin9.jpg" alt="Character 9">
            <p><a href="character_detail">Character 9</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin10.jpg" alt="Character 10">
            <p><a href="character_detail">Character 10</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character11.html">
            <img src="./assets/Images/Skin11.jpg" alt="Character 11">
            <p><a href="character11.html">Character 11</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin12.jpg" alt="Character 12">
            <p><a href="character_detail">Character 12</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin13.jpg" alt="Character 13">
            <p><a href="character_detail">Character 13</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin14.jpg" alt="Character 14">
            <p><a href="character_detail">Character 14</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin15.jpg" alt="Character 15">
            <p><a href="character_detail">Character 15</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin16.jpg" alt="Character 16">
            <p><a href="character_detail">Character 16</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin17.jpg" alt="Character 17">
            <p><a href="character_detail">Character 17</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin18.jpg" alt="Character 18">
            <p><a href="character_detail">Character 18</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin19.jpg" alt="Character 19">
            <p><a href="character_detail">Character 19</a></p>
        </a>
        </article>
        <article class="character">
            <a href="character_detail">
            <img src="./assets/Images/Skin20.jpg" alt="Character 20">
            <p><a href="character_detail">Character 20</a></p>
        </a>
        </article>
    </article>
</main>

<%- include('partials/footer') %>