<%- include('partials/header_fortnite')%>

<main>
    <article class="header-content">
        <h1 class="title-HP">Welkom op ons Fortnite-platform!</h1>
        <p class="subtitle-HP">Op het Fortnite-platform van Tilted Towers kan je een heleboel Fortnite-personages verkennen, beheren en personaliseren.</p>
    </article>

<section class="photo-grid">
<a href="user-profile">
    <article class="photo-card">
    <h2 class="photo-title">Gebruikerspagina</h2>
    <img src="./assets/Images/user_page.webp" alt="Image 1">
    <p class="photo-description">Personaliseer je profiel door een avatar te kiezen.</p>
    <article class="button-container">
        <a href="user-profile" class="info-button">Meer informatie</a>
    </article>
</article>
</a>
<a href="characters">
<article class="photo-card">
    <h2 class="photo-title">Personages<h2>
    <img src="./assets/Images/characters.webp" alt="Image 2" id="HomepageFortniteCharacterImg">>
    <p class="photo-description">Verken een lijst met Fortnite-personages, lees hun achtergrondverhaal en voeg ze toe aan je favorieten.</p>
    <article class="button-container">
        <a href="characters" class="info-button">Meer informatie</a>
    </article>
</article>
</a>

<a href="favorite_characters">
<article class="photo-card">
    <h2 class="photo-title">Favorieten</h2>
    <img src="./assets/Images/favorites.webp" alt="Image 3">
    <p class="photo-description">Bekijk en beheer de personages die je hebt geblacklist, samen met de redenen waarom.</p>
    <article class="button-container">
        <a href="favorite_characters" class="info-button">Meer informatie</a>
    </article>
</article>
</a>

<a href="blacklisted_characters">
<article class="photo-card">
    <h2 class="photo-title">Blacklist</h2>
    <img src="./assets/Images/blacklisted.webp" alt="Image 4">
    <p class="photo-description">Bekijk en beheer je favoriete personages, koppel ze aan items en houd je overwinningen en verliezen bij.</p>
    <article class="button-container">
        <a href="blacklisted_characters" class="info-button">Meer informatie</a>
    </article>
</article>
</a>
</section>
</main>

<%- include ('partials/footer')%>
